img {
  max-height: 200px;
  margin-bottom: 30px;
}

i {
  font-size: 40px;
}

.container {
  width: 700px;
  height: 400px;
  border: 3px solid black;
  margin: auto;
}

.image-container {
  width: 100%;
  margin: auto 60%;
}

.row {
  display: flex;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.status-buttons {
  font-size: 16px;
}

.hidden {
  display: none;
}
