.container {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 48px;
}

.header-center {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.info-items {
  margin-left: 10%;
  margin-right: 10%;
}

.row {
  display: flex;
}

.info-images {
  max-width: calc((100% / 10) * 2);
  max-height: 150px;
}

.info-text {
  width: calc((100% / 10) * 2.5);
  position: relative;
  top: 30px;
}

.column-one-half {
  display: flex;
  flex-direction: row;
  width: calc(100% / 2);
}

.button-center {
  margin-top: 40px;
  text-align: center;
}

.button-text {
  color: darkred;
  background-color: white;
  font-family: 'Karla', sans-serif;
  border: 3px solid darkred;
  padding: 5px auto;
  width: 20%;
  height: 40px;
}
