footer {
  background-color: #fafafa;
  padding: 20px;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-left: 20px;
}

header li {
  list-style-type: none;
  margin-right: 20px;
  color: #adadad;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

hr {
  width: 100%;
  color: #e8e8ea;
}

h2 {
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

.container {
  margin: 40px 10%;
  background-color: white;
  font-family: 'Avenir', sans-serif;
}

.row {
  display: flex;
}

.text-center {
  width: 100%;
  text-align: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.location-container {
  margin-bottom: 40px;
  background-color: #fafafa;
}

.learn-more-container {
  position: relative;
  margin-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
}

.address-container {
  background-color: #525250;
  color: white;
  padding: 80px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.tiempo {
  font-family: 'Tiempos Headline', sans-serif;
}

.small-paragraph {
  font-size: 14px;
}

.justify-end {
  display: flex;
  flex-direction: row;
}

.column-one-fourth {
  width: calc(100% / 4);
}

.column-three-fourth {
  width: calc((100% / 4) * 3);
}

.relative {
  position: relative;
}

.line-height-02 {
  line-height: 0.2rem;
}

#hero-heading {
  color: white;

  /* font-family: 'Tiempos Headline', sans-serif; */
  font-weight: 300;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 35%;
}

#hero-text {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  width: 40%;
  line-height: 1.5rem;
}

#contact-us-button {
  color: white;
  background-color: #2a455f;
  width: 120px;
  padding: 10px;
  border-radius: 4px;
  border-width: 0;
}

#get-started-button-hero {
  color: white;
  background-color: #2a455f;
  width: 150px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border-width: 0;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

#get-started-button-learn-more {
  color: white;
  background-color: #2a455f;
  width: 150px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  border-width: 0;
  position: absolute;
  right: 10%;
  bottom: 30%;
}

#company-links {
  position: absolute;
  right: 20%;
  top: -10%;
}

#product-links {
  position: absolute;
  right: 1%;
  top: -10%;
}
